___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('EcommercePurchases')

**Check the head of the DataFrame.**

In [3]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

** How many rows and columns are there? **

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [5]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [6]:
ecom['Purchase Price'].max()

99.99

In [7]:
ecom['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [8]:
sum(ecom['Language'] == 'en')

1098

** How many people have the job title of "Lawyer" ? **

In [9]:
sum(ecom['Job'] == 'Lawyer')

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [10]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [12]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [14]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [58]:
ecom[ecom['Credit Card'] == '4926535242672853']['Email'] #.count() #There are 10,000 people with the credit card number

0                       pdunlap@yahoo.com
1                      anthony41@reed.com
2          amymiller@morales-harrison.com
3             brent16@olson-robinson.info
4             christopherwright@gmail.com
5                       ynguyen@gmail.com
6                      olivia04@yahoo.com
7                    phillip48@parks.info
8                    kdavis@rasmussen.com
9                qcoleman@hunt-huerta.com
10                   ustewart@hotmail.com
11               johnnymiller@coleman.com
12                      tholt@hotmail.com
13                    caitlin57@yahoo.com
14                       aburns@yahoo.com
15                     amanda39@yahoo.com
16            griffincatherine@wilson.com
17                 stacymitchell@hall.com
18                     hannah63@yahoo.com
19                   ruiznicole@gmail.com
20                 zstephenson@smith.info
21                     rsmith@hotmail.com
22              chambersmichael@gmail.com
23            ltaylor@gardner-meadows.com
24                      james07@yahoo.com
25                   madison41@mooney.com
26                       mlogan@gmail.com
27                  michael35@hotmail.com
28                  khandeborah@yahoo.com
29                   stonekaren@yahoo.com
                      ...
9970              rangelbrian@hotmail.com
9971            leslierichards@warner.org
9972                kellycole@hotmail.com
9973                     rlewis@yahoo.com
9974                    paula72@yahoo.com
9975                 taylordiaz@roman.net
9976                     pbrown@gmail.com
9977               daltoncarter@yahoo.com
9978                   ywhite@hotmail.com
9979                   qjohnson@yahoo.com
9980             mark74@kirby-stewart.org
9981           laurenbennett@richards.com
9982                  heather24@gmail.com
9983    jacksonmanuel@rodriguez-welch.com
9984                clee@vasquez-luna.com
9985                 cranejames@white.com
9986             belindaleon@schwartz.com
9987             denisehamilton@novak.biz
9988               hudsonmichael@pace.com
9989           walterswilliam@hotmail.com
9990          andersonmichael@sherman.biz
9991                   kking@wise-liu.com
9992                    bberry@wright.net
9993            chelseawilliams@lopez.biz
9994                   iroberts@gmail.com
9995               iscott@wade-garner.com
9996                   mary85@hotmail.com
9997                    tyler16@gmail.com
9998              elizabethmoore@reid.net
9999                rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [42]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count() # 39 people

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [50]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [57]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!